.nav-bar {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.App {
  background-image: url("https://w0.peakpx.com/wallpaper/237/308/HD-wallpaper-books-and-butterfly-blue.jpg");
  min-height: 100%;
  min-width: 1024px;
	
  width: 100%;
  height: auto;
	
  position: fixed;
  top: 0;
  left: 0;
}
