.nav-bar {
background-color: #2F8F9D;
}

.nav-button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.books {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  /* border: 1px solid black; */
  padding: 20px;
  margin: 5px;
  text-align: center;
  max-height: 500px;
  max-width: 400px;
}

.resize {
  width: auto;
  height: 300px;
}

.background {
  background-color: #b3e8e5;
}

.form {
  text-align: center;
}

.details-button {
  background-image: linear-gradient(#05996d, #0de6ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.details {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;

}

.edit {
  padding-top: 5%;
  padding-bottom: 10%;
}

.editpage-buttons {
  background-image: linear-gradient(#05996d, #0de6ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.new {
  padding-top: 5%;
  padding-bottom: 10%;
}

.newpage-buttons {
  background-image: linear-gradient(#05996d, #0de6ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}